# files for development that should not be in production
.vscode
src
test
*.map
tsconfig.production.json
tsconfig.testing.json
tsconfig.types.json
typedoc.json
database.json

# github
appveyor.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
docs
example
images
.gitignore
.github
_config.yml

# dependenies
node_modules
package-lock.json
