# files for development that should not be in production
.vscode
src
test
*.map
tsconfig.production.json
tsconfig.testing.json
tsconfig.types.json
tsdoc.json

# github
CHANGELOG.md
docs
example
images
.gitignore
.github
_config.yml

# dependenies
node_modules
package-lock.json